body {
    background-color: #BBBBBB;
    text-align: center;
}
.item {
    border: 3px solid black;
    width: 100px;
    height: 100px;
    font-weight: bold;
    background-color: #B50B0B;
}
.empty_tile {
    border: 3px solid black;
    width: 100px;
    height: 100px;
    font-weight: bold;
    background-color: white;
}

Réduire



