body {
    background-color: #BBBBBB;
    text-align: center;
}
.item {
    border: 3px solid black;
    width: 100px;
    height: 100px;
}
.empty {
    border: 3px solid black;
    width: 100px;
    height: 100px;
}

td {
    border: 3px solid black;
    width: 100px;
    height: 100px;
    font-weight: bold;
    margin: 2px;
}




